# Desenvolvimento
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/room_chat"
JWT_SECRET="troque-isso-por-um-segredo-forte"
PORT=4000
CLIENT_URL="http://localhost:5173"
AUTH_DISABLED=false
SIMPLE_AUTH=true

# Produção (Render)
# DATABASE_URL="postgresql://[user]:[password]@[host]/[database]"
# JWT_SECRET="[gerar-uuid-seguro]"
# PORT=4000
# CLIENT_URL="https://seu-frontend.onrender.com"
